<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="PrivateServer" value="https://nuget.pkg.github.com/AakashKhopade/index.json" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <PrivateServer>
      <add key="Username" value="adityabhairavkar" />
      <add key="ClearTextPassword" value="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" />
    </PrivateServer>
  </packageSourceCredentials>
</configuration>